body{
    color : #363958;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: #FFFFF4;
}
p{
    font-size: 20px;
}

.title_color , .title_color_2{
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.title_color , .for_title_heading {
    font-family: 'Bebas Neue', cursive;
    color: #363958;
}

.for_title_heading{
    font-size: 60px;
}
.title_color_2{
    color : #76C27E;
}

.card-title{
    font-size: 25px;
}

.logo_img{
    width: 300px;
}

.custom_row{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 20px ;
    box-shadow: 0 0 10px ;
}

.image_size img
{
    width: 100px;
}

.icon_info{
 padding-top: 15px;
}

.bag_cad{
    border-radius: 20px !important;
    border: 0 !important;
}

.bag_cad img{
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
}

.price_color{
    color : #76C27E;
    font-weight: 700;
}
.bag_card_footer{
    border: 0 !important;
    background-color: white !important;
    border-radius: 20px !important;
}

.subscribe_bg_color{
    height: 250px;
    border-radius: 20px;
    background-color:  #76C27E;
}